<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Successful Login</title>
</head>
<body>
     <div class="container">
            <p id="context">Login Successfull!</p>
            <div class="inputs" >
                <p>Click to Log Out</p>
              <a href="/logout" role="button" id="submitToken">Log Out</a>
            </div>

    </div>
    
</body>
</html>